---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="container marketing">
        <div class="no-carousel"></div>
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">
                    <span class="text-muted">Budujemy domy</span> od A do Z
                </h2>
                <p class="lead">
                    Zajmujemy się kompleksową budową domów na terenie
                    województwa łódzkiego. Nasza współpraca często zaczyna się
                    już na etapie wyboru<a href="/dzialki"> działki</a>
                    czy <a href="/projekty">projektu</a>, a tuż po zakończeniu
                    niezbędnych formalności, na terenie budowy prace
                    rozpoczynają nasi doświadczeni i zaufani współpracownicy.
                </p>
            </div>
            <div class="col-md-5">
                <img
                    class="featurette-image img-fluid mx-auto"
                    src="/assets/img/budowa_1.jpg"
                    alt="Kierownik budowycoll"
                />
            </div>
        </div>
        <hr class="featurette-divider" />
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">
                    <span class="text-muted">Stan</span> surowy zamknięty
                </h2>
                <p class="lead">
                    Pierwszym etapem budowy jest doprowadzenie budynku do stanu
                    surowego zamkniętego. Trwa on z reguły ok. 3 miesięcy.
                </p>
                <p class="lead">
                    W skład stanu surowego wchodzą następujące elementy:
                </p>
                <ui class="list-inline">
                    <li class="list-inline-item">Fundamenty</li>
                    <li class="list-inline-item">Posadzki</li>
                    <li class="list-inline-item">Ściany</li>
                    <li class="list-inline-item">Strop</li>
                    <li class="list-inline-item">Więźba dachowa</li>
                    <li class="list-inline-item">Pokrycie dachowe</li>
                    <li class="list-inline-item">Okna</li>
                    <li class="list-inline-item">Parapety</li>
                    <li class="list-inline-item">Drzwi zewnętrzne</li>
                    <li class="list-inline-item">Brama garażowa</li>
                </ui>
                <p></p>
            </div>
            <div class="col-md-5 order-md-1">
                <img
                    class="featurette-image img-fluid mx-auto"
                    src="/assets/img/budowa_2.jpg"
                    alt="Fundamenty domu jednorodzinnego"
                />
            </div>
        </div>
        <hr class="featurette-divider" />
        <div class="container marketing">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">
                        <span class="text-muted">Stan</span> deweloperski
                    </h2>
                    <p class="lead">
                        Następnie wykonywane są prace deweloperskie. Trwają one
                        zazwyczaj ok. 2 miesięcy.
                    </p>
                    <p class="lead">Do prac deweloperskich należą:</p>
                    <ui class="list-inline">
                        <li class="list-inline-item">Instalacja elektryczna</li>
                        <li class="list-inline-item">
                            Instalacja hydrauliczna
                        </li>
                        <li class="list-inline-item">Centralne ogrzewanie</li>
                        <li class="list-inline-item">Ocieplenie ścian</li>
                        <li class="list-inline-item">Położenie tynków</li>
                        <li class="list-inline-item">Pokrycie dachowe</li>
                        <li class="list-inline-item">
                            Przyłączenie mediów (woda, prąd, gaz, kanalizacja)
                        </li>
                    </ui>
                    <p class="lead"></p>
                    <p class="lead">
                        Dom w stanie deweloperskim jest gotowy do odbioru.
                    </p>
                </div>
                <div class="col-md-5">
                    <img
                        class="featurette-image img-fluid mx-auto"
                        src="/assets/img/budowa_3.jpg"
                        alt="Instalacja ogrzewania podłogowego"
                    />
                </div>
            </div>
            <hr class="featurette-divider" />
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">
                        <span class="text-muted">Budowa</span> pod klucz
                    </h2>
                    <p class="lead">
                        Po odbiorze domu nasi specjaliści przystępują do
                        wykończenia wnętrz. W zależności od zakresu, prace
                        wykończeniowe trwają od 2 do 3 miesięcy i zawierają
                        między innymi:
                    </p>
                    <ui class="list-inline">
                        <li class="list-inline-item">
                            Położenie glazury i terakoty
                        </li>
                        <li class="list-inline-item">
                            Montaż grzejników i wyposażenia kotłowni
                        </li>
                        <li class="list-inline-item">
                            Montaż białego osprzętu (umywalki, wanna, prysznic)
                        </li>
                        <li class="list-inline-item">
                            Instalację drzwi wewnętrznych
                        </li>
                        <li class="list-inline-item">Malowanie ścian</li>
                        <li class="list-inline-item">
                            Instalację gniazdek elektrycznych i przełączników
                        </li>
                    </ui>
                    <p class="lead"></p>
                    <!-- <p class="lead">
                        Zapoznaj się z naszymi dotyczasowymi <a
                            href="/realizacje">realizacjami</a
                        >!
                    </p> -->
                </div>
                <div class="col-md-5 order-md-1">
                    <img
                        class="featurette-image img-fluid mx-auto"
                        src="/assets/img/budowa_4.jpg"
                        alt="Wykończenie wnętrza domu"
                    />
                </div>
            </div>
        </div>
    </div>
</BaseLayout>
