---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Działki budowlane - konsultacje przy zakupie | Unidomy.pl">
    <div class="container marketing">
        <div class="no-carousel"></div>
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">
                    <span class="text-muted">Wybór</span> działki
                </h2>
                <p class="lead">
                    Zakup działki to często pierwsza, a zarazem jedna z
                    najważniejszych decyzji stojących przed inwestorem. Ma ona
                    bezpośredni wpływ na kolejne etapy budowy domu.
                </p>
                <p class="lead">
                    Jeżeli stoją Państwo przed wyborem działki budowlanej -
                    zachęcamy do konsultacji.
                </p>
            </div>
            <div class="col-md-5">
                <img
                    class="featurette-image img-fluid mx-auto"
                    src="/assets/img/dzialki_1.jpg"
                    alt="Wyznaczanie działki budowlanej"
                />
            </div>
        </div>
        <hr class="featurette-divider" />
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">
                    <span class="text-muted">Spełnione</span> wymagania
                </h2>
                <p class="lead">
                    Zweryfikujemy czy Państwa projekt jest zgodny z Planem
                    Zagospodarowania Przestrzennego w danej okolicy,
                    skonsultujemy stan prawny działki, a także przeanalizujemy
                    czy ukształtowanie terenu, rodzaj gruntu i poziom wód
                    gruntowych umożliwia bezproblemową realizację Państwa
                    projektu oraz nie będzie przysparzał problemów w
                    przyszłości.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img
                    class="featurette-image img-fluid mx-auto"
                    src="/assets/img/dzialki_2.jpg"
                    alt="Mapa geodezyjna"
                />
            </div>
        </div>
        <hr class="featurette-divider" />
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">
                    <span class="text-muted">Dalsze</span> poszukiwania
                </h2>
                <p class="lead">
                    Opierając się na naszym doświadczeniu, chętnie wskażemy
                    Państwu interesujące lokalizacje, na które zdecydowali się
                    nasi dotychczasowi klienci.
                </p>
            </div>
            <div class="col-md-5">
                <img
                    class="featurette-image img-fluid mx-auto"
                    src="/assets/img/dzialki_3.jpg"
                    alt="Działka budowlana z płytą fundamentową"
                />
            </div>
        </div>
    </div>
</BaseLayout>
