---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout  title="Materiały budowlane - sprzedaż i transport Łódź i okolice | Unidomy.pl">
    <div class="no-carousel"></div>
    <div class="container marketing">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">
                    Materiały <span class="text-muted">najwyższej jakości</span>
                </h2>
                <p class="lead">
                    Posiadamy własny skład materiałów budowlanych, w którym mogą
                    Państwo zaopatrzyć się we wszystkie materiały niezbędne do
                    budowy domu.
                </p>
                <p class="lead">
                    Od lat współpracujemy z większością producentów obecnych na
                    polskim rynku, a korzystając z naszego doświadczenia
                    pomożemy Państwu w doborze materiałów, których parametry
                    najlepiej spełniają Państwa potrzeby.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img
                    class="featurette-image img-fluid mx-auto"
                    src="/assets/img/materialy_1.jpg"
                    alt="Palety cegieł"
                />
            </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">
                    Szeroka <span class="text-muted">oferta</span>
                </h2>
                <p class="lead">
                    W naszej ofercie znajdą Państwo między innymi:
                </p>
                <ul class="list-inline">
                    <li class="list-inline-item">Cegły</li>
                    <li class="list-inline-item">Pustaki</li>
                    <li class="list-inline-item">Bloczki betonowe</li>
                    <li class="list-inline-item">Cementy</li>
                    <li class="list-inline-item">Wapna</li>
                    <li class="list-inline-item">Piasek</li>
                    <li class="list-inline-item">Zaprawy</li>
                    <li class="list-inline-item">Wylewki</li>
                    <li class="list-inline-item">Tynki i gipsy</li>
                    <li class="list-inline-item">Grunty i impregnaty</li>
                    <li class="list-inline-item">Kleje</li>
                    <li class="list-inline-item">Wełnę mineralną</li>
                    <li class="list-inline-item">Styropian</li>
                    <li class="list-inline-item">Pokrycia dachowe</li>
                    <li class="list-inline-item">Systemy kominowe</li>
                    <li class="list-inline-item">Ogrzewanie podłogowe</li>
                    <li class="list-inline-item">Płyty kartonowo-gipsowe</li>
                    <li class="list-inline-item">Elewacje</li>
                    <li class="list-inline-item">Farby</li>
                    <li class="list-inline-item">Sufity podwieszane</li>
                    <li class="list-inline-item">
                        Drzwi wewnętrzne i zewnętrzne
                    </li>
                    <li class="list-inline-item">Bramy garażowe</li>
                    <li class="list-inline-item">Kostkę brukową</li>
                    <li class="list-inline-item">Okna drewniane i PVC</li>
                    <li class="list-inline-item">Okna dachowe</li>
                    <li class="list-inline-item">Siatki ogrodzeniowe</li>
                    <li class="list-inline-item">Instalacje wodne i gazowe</li>
                    <li class="list-inline-item">Narzędzia budowlane</li>
                    <li class="list-inline-item">Sprzęt BHP</li>
                </ul>
            </div>
            <div class="col-md-5">
                <img
                    class="featurette-image img-fluid mx-auto"
                    src="/assets/img/materialy_2.jpg"
                    alt="Półki w magazynie materiałów budowlanych"
                />
            </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">
                    Dostawy zawsze <span class="text-muted">na czas</span>
                </h2>
                <p class="lead">
                    Dzięki flocie samochodów dostawczych i ciężarowych (w tym z
                    hydraulicznym dźwigiem samochodowym HDS), możemy zapewnić
                    terminową dostawę i sprawny rozładunek materiałów na terenie
                    Państwa budowy.
                </p>
                <p class="lead">
                    Oferowane przez nas rozwiązanie zapewnia ciągłość dostaw
                    materiałów budowlanych na teren budowy, zapobiega kosztownym
                    przestojom w pracach oraz często pozwala wynegocjować
                    korzystniejsze warunki niż w sklepach tradycyjnych.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img
                    class="featurette-image img-fluid mx-auto"
                    src="/assets/img/materialy_3.jpg"
                    alt="Załadunek materiałów budowlanych do samochodu dostawczego"
                />
            </div>
        </div>
    </div>
</BaseLayout>
