---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="O nas | Unidomy.pl">
<div class="no-carousel"></div>
<div class="container marketing">
    <div class="row featurette">
        <div class="col-md-6">
            <h2 class="featurette-heading">Kompleksowa <span class="text-muted">budowa domów</span></h2>
            <p class="lead">Specjalizujemy się w kompleksowej budowie domów. Przez ponad 20 lat naszej działalności,
                pomogliśmy zrealizować marzenia o własnym domu wielu zadowolonym klientom.
            </p>
        </div>
        <div class="col-md-6">
            <img class="featurette-image img-fluid mx-auto" src="/assets/img/onas_1.jpg"
                 alt="Osiedle domów jednorodzinnych">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Indywidualne <span class="text-muted">podejście</span>
            </h2>
            <p class="lead">Do potrzeb każdego klienta podchodzimy indywidualnie i staramy się aby liczba
                jednocześnie realizowanych przez nas inwestycji umożliwiała systematyczny nadzór prac oraz
                gwarantowała wysoką dostępność dla klienta.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="/assets/img/onas_2.jpg"
                 alt="Konsultacje z architektem">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Budujemy <span class="text-muted">dla Ciebie</span>
            </h2>
            <p class="lead">Przez cały okres budowy jesteśmy otwarci na Państwa sugestie i ewentualne zmiany - aż
                do momentu zakończenia budowy i oddania budynku do użytkowania.
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="/assets/img/onas_3.jpg"
                 alt="Klucz do gotowego domu jednorodzinnego">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-6 order-md-2">
            <h2 class="featurette-heading">Gdzie <span class="text-muted">budujemy?</span></h2>
            <p class="lead">Zakres naszej działalności obejmuje Łódź i przyległe miejscowości.
            </p>
        </div>
        <div class="col-md-6 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="/assets/img/onas_4.jpg"
                 alt="Mapa zasięgu działania">
        </div>
    </div>
</div>
</BaseLayout>