---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Projekty domów - wybór, adaptacja, projekty indywidualne | Unidomy.pl">
    <div class="no-carousel"></div>
    <div class="container marketing">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">
                    Projekty
                    <span class="text-muted">domów</span>
                </h2>
                <p class="lead">
                    Wybór projektu budowlanego to często pierwszy krok do budowy
                    własnego domu. Gotowe projekty domów nie zawsze spełniają
                    wszystkie oczekiwania przyszłych mieszkańców.
                </p>
                <p class="lead">
                    Indywidualnym potrzebom wychodzimy naprzeciw oferując usługi
                    związane z modyfikacją istniejącego projektu lub projektem
                    domu na zamówienie.
                </p>
            </div>
            <div class="col-md-5">
                <img
                    class="featurette-image img-fluid mx-auto"
                    src="/unidom2/assets/img/projekty_1.jpg"
                    alt="Rzut pionowy na projekt domu wraz z działką"
                />
            </div>
        </div>
        <hr class="featurette-divider" />
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">
                    Zmiany <span class="text-muted">w projekcie</span>
                </h2>
                <p class="lead">
                    Jeżeli projekt z katalogu nie spełnia Państwa oczekiwań,
                    współpracujący z nami architekci skonsultują z Państwem
                    zakres oczekiwanych zmian. Dopilnujemy także aby charakter
                    zmian oraz sposób ich wprowadzenia był zgodny z
                    obowiązującym Prawem Budowlanym oraz Planem Zagospodarowania
                    Przestrzennego.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img
                    class="featurette-image img-fluid mx-auto"
                    src="/unidom2/assets/img/projekty_2.jpg"
                    alt="Nanoszenie zmian w projekcie"
                />
            </div>
        </div>
        <hr class="featurette-divider" />
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">
                    <span class="text-muted">Projekt</span>indywidualny
                </h2>
                <p class="lead">
                    W przypadku gdy posiadają Państwo wizję własnego domu, wraz
                    ze wsparciem współpracujących z nami architektów, dołożymy
                    wszelkich starań aby zamienić ją w projekt jak najlepiej
                    odzwierciedlający Państwa oczekiwania. Zapraszamy do
                    kontaktu.
                </p>
            </div>
            <div class="col-md-5">
                <img
                    class="featurette-image img-fluid mx-auto"
                    src="/unidom2/assets/img/projekty_3.jpg"
                    alt="Wizualizacja indywidualnego projektu domu"
                />
            </div>
        </div>
    </div>
</BaseLayout>
