<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active d-none d-md-block">
            <video autoplay muted loop class="video img-fluid mx-auto">
                <source src="/assets/video/unidom_33.mp4" type="video/mp4">
            </video>
            <div class="container">
                <div class="carousel-caption text-center">
                    <h1 class="display-3">Kompleksowa budowa domów</h1>
                    </p>
                    <p><a class="smooth-scroll" href="/#badges"><img src="/assets/img/chevron-bottom.svg"
                                                                    height="45"></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container marketing">
    <div class="jumbotron d-block d-md-none">
        <h1 class="display-5">Kompleksowa budowa domów</h1>
        <!-- {% if gallery.description %}<p class="lead">  {{ gallery.description|safe }}</p> {% endif %} -->
        <p class="lead">Zapoznaj się z naszą ofertą.</p>
    </div>
</div>
